table {
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid grey;
}

th,
td {
  padding: 10px;
  text-align: left;
}

table tr:not(:last-child) {
  border-bottom: 1px solid lightgray;
}

tbody tr:first-child {
  border-top: 1px solid lightgray;
}

caption {
  padding: 20px;
  caption-side: top;
  text-align: center;
  letter-spacing: 1px;
  font-size: 20px;
}

tbody tr:nth-child(odd) {
  background-color: ghostwhite;
}

tbody tr:nth-child(even) {
  background-color: whitesmoke;
}

.tables-header {
  font-weight: 500;
}

.table-row-cell {
  font-weight: 400;
}

.table-row:hover {
  filter: brightness(85%);
}

.table-row--selectable {
  cursor: normal;
}
.table-row--selected {
  filter: brightness(75%);
}

.table-header-spacer {
  width: 100px;
}

.table-download-active:hover {
  cursor: pointer;
}

.table-selected-statement {
  min-width: 150px;
}
